.absolute {
  position: absolute;
}

.flex {
  display: flex;
}
  
.flex-col {
  display: flex;
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.p-0 {
  padding: 0;
}

.p-4 {
  padding: 1rem;
}

.m-0 {
  margin: 0;
}

.m-4 {
  margin: 1rem;
}

.bg-black {
  background-color: black;
}

.bg-black-trans {
  background-color: rgba(0,0,0, .3);
}

.text-xl {
  font-size: 1.25rem;
}

.text-white {
  color: white;
}

.text-magenta {
  color: rgb(255, 0, 200);
}

.text-cyan {
  color: rgb(0, 200, 255);
}

.events-none {
  pointer-events: none;
}

.events-fill {
  pointer-events: fill;
}

.overflow-hidden {
  overflow: hidden;
}

.none {
  display: none;
}