.flex {
  display: flex;
}
  
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.p-0 {
  padding: 0;
}

.p-4 {
  padding: 1rem;
}

.m-0 {
  margin: 0;
}

.m-4 {
  margin: 1rem;
}

.text-xl {
  font-size: 1.25rem;
}

.events-none {
  pointer-events: none;
}

.events-fill {
  pointer-events: fill;
}

.overflow-hidden {
  overflow: hidden;
}

.none {
  display: none;
}
